@import url("https://fonts.googleapis.com/css2?family=Water+Brush&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

.arrow {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.arrow.active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.swiper {
  --swiper-theme-color: white;
  --swiper-navigation-color: white;
  --swiper-navigation-size: 30px;
}

.mainMenu > li > a {
  display: block;
}

@-webkit-keyframes carousel {
  0% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
  100% {
    -webkit-transform: translatex(-100%);
            transform: translatex(-100%);
  }
}

@keyframes carousel {
  0% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
  100% {
    -webkit-transform: translatex(-100%);
            transform: translatex(-100%);
  }
}
.wrapper:hover .carousel {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.carousel {
  display: inline-block;
  -webkit-animation: 20s carousel infinite linear;
          animation: 20s carousel infinite linear;
}

.carousel__slide {
  display: inline-block;
  height: 50px;
  width: 100px;
  margin: 0 40px;
}

@layer components {
  .horizon__center {
    @apply flex items-center justify-center;
  }
  .vertical__center {
    @apply absolute left-1/2 transform -translate-x-1/2;
  }
  .section {
    @apply max-w-7xl w-full mx-auto px-4 py-8 sm:px-6 lg:px-36 md:py-24 gap-6 lg:gap-16 flex flex-col;
  }
  .nav__BTN {
    @apply font-medium text-gray-600 hover:text-blue-500;
  }
  .nav__SubBTN {
    @apply flex items-center gap-x-3.5 py-2 px-3 rounded-md text-sm text-gray-600 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500;
  }
  .logo__img {
    @apply w-16 sm:w-24 grayscale group-hover/item:grayscale-0 transition duration-150 ease-in-out;
  }
  .logo__text {
    @apply text-sm sm:text-base font-semibold text-gray-600 group-hover/item:text-blue-500 transition duration-150 ease-in-out;
  }
  .newsCard__wrapper {
    @apply shadow-md hover:shadow-lg rounded-xl  overflow-hidden border-2 border-gray-50 hover:border-blue-300 transition duration-300 ease-in-out;
  }
  .button {
    @apply py-2 px-5 w-fit justify-center items-center gap-2 rounded-full border border-blue-500 font-medium bg-white text-blue-500 group-hover:text-white shadow-sm align-middle group-hover:bg-blue-500 group-focus:outline-none group-focus:ring-2 group-focus:ring-offset-2 group-focus:ring-offset-white group-focus:ring-blue-600 transition-all text-sm;
  }
  .toTop__BTN {
    @apply vertical__center  text-center text-sm md:text-base bg-custom__primary hover:bg-gray-900 transition duration-150 ease-out hover:ease-in rounded-full text-white px-3 py-1 md:px-5 md:py-2 -top-2 md:top-5 lg:top-10;
  }
  .client__logo {
    @apply flex flex-col gap-2 px-4 py-1 sm:px-14 sm:py-3 bg-white/60 border sm:border-2 border-gray-100 text-center items-center rounded-xl hover:shadow-md transition duration-300 ease-in-out;
  }
  .pagination {
    @apply text-gray-600 hover:text-sky-300 p-4 inline-flex items-center transition-all;
  }
}
@screen sm {
  #checkIn__bg {
    background-image: url(img/line.png);
    background-size: 100%;
    @apply bg-contain bg-no-repeat bg-center bg-opacity-20;
  }
}
#bg1 {
  background-image: url(img/bg1.png);
  @apply bg-no-repeat bg-cover w-full bg-top;
}

#bg2 {
  background-image: url(img/bg2.png);
  @apply bg-no-repeat bg-cover w-full bg-bottom;
}

#bg3 {
  background-image: url(img/bg3.png);
  @apply bg-no-repeat bg-cover w-full bg-center;
}

#map {
  background-image: url(img/map.png);
  @apply bg-no-repeat bg-cover w-full bg-center;
}

#banner1 {
  background-image: url(img/banner1.png);
  @apply bg-cover md:bg-fixed bg-center bg-no-repeat h-40 sm:h-64 md:h-96;
}

#banner2 {
  background-image: url(img/banner2.png);
  @apply bg-cover md:bg-fixed bg-center bg-no-repeat h-40 sm:h-64 md:h-96;
}

#banner3 {
  background-image: url(img/banner3.png);
  @apply bg-cover md:bg-fixed bg-top bg-no-repeat h-40 sm:h-64 md:h-96;
}

#banner4 {
  background-image: url(img/banner4.png);
  @apply bg-cover md:bg-fixed bg-center bg-no-repeat h-40 sm:h-64 md:h-96;
}/*# sourceMappingURL=input.css.map */