@layer components {
    .horizon__center {
        @apply flex items-center justify-center;
    }
    .vertical__center {
        @apply absolute left-1/2 transform -translate-x-1/2
    }
    .section {
        @apply container mx-auto md:px-36 md:py-24
    }
    .nav__BTN {
        @apply font-medium text-gray-900 hover:text-blue-500 
    }
    .nav__SubBTN {
        @apply flex items-center gap-x-3.5 py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 
    }
    .toTop__BTN {
        @apply vertical__center  text-center text-sm md:text-base bg-custom__primary hover:bg-gray-900 transition duration-150 ease-out hover:ease-in rounded-full text-white px-3 py-1 md:px-5 md:py-2 -top-2 md:top-5 lg:top-10
    }
    

}

@screen sm {
    
    #checkIn__bg {
      background-image: url(img/line.png); 
      background-size: 100%;
      @apply bg-contain bg-no-repeat bg-center bg-opacity-20;
    }
  }

#bg1 {
    background-image: url(img/bg1.png); 
    @apply bg-no-repeat bg-cover w-full bg-top;
}