// scroll smooth
html{
    scroll-behavior: smooth;
}

// arrow icon
.arrow {
    transform: rotate(0deg);
    // transition: all 0.5s;

    &.active {
        transform: rotate(90deg);
    }
}

// swiper
.swiper{
    --swiper-theme-color: white;
    --swiper-navigation-color: white;
    --swiper-navigation-size: 30px;
  }

.mainMenu > li > a{
    display: block;
}

// logo carousel
@keyframes carousel {
    0% {
      transform: translatex(0);
    }
    100% {
      transform: translatex(-100%);
    }
  }
  
  .wrapper {
    &:hover .carousel {
      animation-play-state: paused;
    }
  }
  
  .carousel {
    display: inline-block;
    animation: 20s carousel infinite linear;
  }
  
  .carousel__slide {
    display: inline-block;
    height: 50px;
    width: 100px;
    margin: 0 40px;
  }